body{
  padding-top: 7em;
}

.userName{
  padding-right: 1em;
}

.jumbotron{
  background-image: url(../img/bg.png);
}

.jumbotron h1{
  color: #ffffff;
}

.jumbotron p{
  color: #D3D3D3;
}

.caption h3{
  text-align: center;
}