<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    //-メタ宣言の終了
    title EZ2LOG | TOP
    //-ページタイトル
    link(rel="stylesheet", href="css/bootstrap.min.css")
    link(rel="stylesheet", href="css/default.css")
    //-css読み込み
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="js/bootstrap.min.js")
    //-js関連の読み込み
  body
    nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#topnavi")
            span.sr-only toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="top.html") EZ2LOG
        .collapse.navbar-collapse(id="topnavi")
          ul.nav.navbar-nav
            li.active
              a(href="#") Status
            li
              a(href="#") View
            li
              a(href="#") Rival
            li
              a(href="#") Submit
          button.btn.btn-warning.navbar-btn.navbar-right(type="button") Sign out
          p.navbar-text.navbar-right.userName DJ SE2TEN
    //-ナビゲーションバーの配置

    .container
      .jumbotron
        h1 Status
        p Your DJ status is here.
      //- サービスタイトル
      .row
        .col-lg-4
          .panel.panel-default
                .panel-heading User Data
                .panel-body
                  .thumbnail
                    img(src="img/prof.png")
                    .caption
                      h3 DJ SE2TEN
                      table.table
                        tr
                          th 5K ONLY
                          td Lv.12
                        tr
                          th 5K STANDARD
                          td Lv.8
                        tr
                          th 7K STANDARD
                          td Lv.2
                      p
                        a.btn.btn-default(href="#" role="button") More
          .well.well-lg.text-center
            h2 Submit Score
            button.btn.btn-success New Submit
        .col-lg-8
          .row
            .panel.panel-default
              .panel-heading Data
              .panel-body
                .col-sm-6
                  .panel.panel-info
                    .panel-heading Mode Data
                    .panel-body xxxxxxx
                      table.table
                            tr
                              th 5K ONLY
                              td Lv.12
                            tr
                              th 5K STANDARD
                              td Lv.8
                            tr
                              th 7K STANDARD
                              td Lv.2
                .col-sm-6
                  .panel.panel-warning
                    .panel-heading Course Data
                    .panel-body xxxxxxx
                      table.table
                            tr
                              th 5K ONLY
                              td Lv.12
                            tr
                              th 5K STANDARD
                              td Lv.8
                            tr
                              th 7K STANDARD
                              td Lv.2

          
      

          


