<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    //-メタ宣言の終了
    title EZ2LOG | VIEW
    //-ページタイトル
    link(rel="stylesheet", href="css/bootstrap.min.css")
    link(rel="stylesheet", href="css/default.css")
    //-css読み込み
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="js/bootstrap.min.js")
    //-js関連の読み込み
  body
    nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#topnavi")
            span.sr-only toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="top.html") EZ2LOG
        .collapse.navbar-collapse(id="topnavi")
          ul.nav.navbar-nav
            li
              a(href="status.html") Status
            li.active
              a(href="view.html") View
            li
              a(href="#") Rival
            li
              a(href="#") Submit
          button.btn.btn-warning.navbar-btn.navbar-right(type="button") Sign out
          p.navbar-text.navbar-right.userName DJ SE2TEN
    //-ナビゲーションバーの配置

    .container
      .jumbotron
        h1 View
        p Your Play Score is here.
      //- サービスタイトル
      .row
        .col-lg-4
          .panel.panel-default
                .panel-heading User Data
                .panel-body
                  .thumbnail
                    img.img-thumbnail(src="img/prof.png")
                    .caption
                      h3 DJ SE2TEN
                      table.table
                        tr
                          th Favorite Mode
                          td 5K ONLY, 5K STANDARD
                        tr
                          th Play Side
                          td 1P
                        tr
                          th Update Date
                          td 2017-xx-xx
                        tr
                          th Home Location
                          td World Game Circus
                      p
                        a.btn.btn-default(href="#" role="button") Edit
        .col-lg-8
          .row
            .panel.panel-default
              .panel-heading Data
              .panel-body